body {
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://images.unsplash.com/photo-1486010586814-abd061e90cf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80') no-repeat center center fixed;;
    background-size: cover; 
}
